<!DOCTYPE>
<html>
	<head>
		<meta charset="UTF-8">
		<base href="/">
		<title>TvMaze App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/custom.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/search/search.controller.js"></script>
		<script src="js/search/search.service.js"></script>
		<script src="js/movie/movie.controller.js"></script>
		<script src="js/movie/movie.service.js"></script>
	</head>
	<body ng-app="app">
		<div class="container col-md-12">
			<h3>TvMaze - Search for your favourite shows</h3>
			<hr/>
			<ul class="nav nav-tabs">
  				<li role="presentation"><a href="/">Search</a></li>
 				<li role="presentation"><a href="/">Schedules</a></li>
  				<li role="presentation"><a href="/">Favorite</a></li>
			</ul>
			<br/>
			<div ng-view></div>
			
		</div>
	</body>
</html>